

.about_panel  {
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
/* Gray/900 */
background: rgba(28, 28, 28, 0.8);
  border-radius: 4px;
  padding: 0px;
border: 1px solid #495057;
overflow-y: scroll;
}

.tab-content {
overflow-y: scroll !important;  
}

.about_button {
  /*
      position: fixed;
  top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
  /*
  transform: translate(-50%, -50%);
  */
/* Gray/900 */
background: #1C1C1C;
  border-radius: 4px;
  padding: 0px;
border: 1px solid #495057;
  
  
  
}


#about:focus {
  color: #F8F9FA;
    background-color: transparent;
    border-color: transparent;
}

#back_to_world, #about, #bookmark {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#back_to_world {
      padding: 10px 15px 10px 15px;
}

#bookmark {
      padding: 10px 30px 10px 30px;
}

#bookmark:active, #bookmark:focus,  #back_to_world:active, #back_to_world:focus {
  background: transparent;
  background-color: transparent;
  color: #F8F9FA;
  border-color: transparent;
}


/*
@media (max-width: 1281px) {
  #about {
    left: 30%;;
  }
}
*/


.leaflet-control-layers-list {
  
  background: rgba(28, 28, 28, 0.8);
  
}


.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: white;
    background: rgba(28, 28, 28, 0.8);
border: 1px solid #495057;
}

.leaflet-control-layers-list {
    background: transparent;
}


@media (max-width: 1300px) {
  #back_to_world_button_id {
    left: 330px !important;
    top: 90px !important;
    
  }
}

@media (max-width: 1300px) {
  #share_button_id {
    left: 330px !important;
    top: 140px !important;
    
  }
}

@media (max-width: 1300px) {
  #download_button_id {
    left: 330px !important;
    top: 190px !important;
  }
}

/*
@media (max-width: 1300px) {
  #compare_panel {
    left: 330px !important;
    bottom: 190px !important;
    right: auto !important;
  }
}
*/

@media (max-width: 1300px) {
  #year_panel {
    bottom: 290px !important;
    left: auto !important;
    right: 315px !important;
  }
}

#teste_id_uh {
  float: right;
}

/*
@media (max-width: 1300px) {
  #lalala {
    bottom: 240px !important;
    right: 480px !important;
    left: auto !important;
  }
}
*/


/*

  @media only screen and (min-width: 600px) {
      html {
        zoom: .8;
      }
    }

    @media only screen and (min-width: 800px) {
      html {
        zoom: .9;        
      }
    }

    @media only screen and (min-width: 1000px) {
      html {
        zoom: 1;
      }
    }
    
      @media only screen and (min-height: 600px) {
      #right_panel_textbox_id {
        zoom: 0.8;
      }
    }
    
        @media only screen and (min-height: 800px) {
      #right_panel_textbox_id{
        zoom: 1;
      }
    }
    
    */

    
    