

.left_panel {
  position: absolute;
/* Gray/900 */
background: rgba(28, 28, 28, 0.8);
border: 1px solid #495057;
  border-radius: 4px;
  padding: 15px;
  padding-left: 8px;
  padding-bottom: 20px;
}

.left_panel_indicators {
  position: relative !important;
  background: transparent;
/* Gray/900 */
  /*background: rgba(28, 28, 28, 0.8);
  border: 1px solid #1C1C1C; */
  border-radius: 4px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 8px;
  max-height: 300px;
}


.title_left_panel {
  padding: 10px;
font-family: 'Franklin Gothic Demi';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.2em;

/* Gray / 200 */

color: #E9ECEF;

}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
         color: #F8F9FA;
         background: #00AE42;
    border-color: transparent;
    box-shadow: 0px;
    border-radius: 0px;
    font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}


.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.active:hover {
         color: #F8F9FA;
         background: #00AE42;
    border-color: transparent;
    box-shadow: 0px;
    border-radius: 0px;
    font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;

/* Gray/100 */

}

.btn-default {
         color: #F8F9FA;
         background: transparent;
    border-color: transparent;
    box-shadow: 0px;
    border-radius: 0px;
    font-family: 'Franklin Gothic Book';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;

/* Gray/100 */

color: #F8F9FA;
}

.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
  display: inline-block;
  text-align: left;
}

.btn-default:hover, .btn-default[disabled]:hover{
        border-color: transparent !important;
    box-shadow: 0px !important;
    border-radius: 0px;
    font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;

/* Gray/100 */
background: rgba(0, 0, 0, 0.5);
color: #F8F9FA;
}


