
#title_base {
  margin-top: 5px;
}



.leaflet-top .leaflet-control {
    margin-top: 30px;
}

.leaflet-control-layers-list {
  
  margin-left: 10px;
  margin-right: 10px;
  
}




/* hide the radio button */

/*
.leaflet-control-layers input[type=radio] {
  

position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  
  
}
*/



.leaflet-control-layers [type=radio] + img {
  cursor: pointer;
}



[type=radio]:checked + img {
  outline: 2px solid white;
}




/* make the icons inline and add marings */
/*
.leaflet-control-layers label {
    display: inline-block;
    margin-right: 10px;
}
*/


/*
#map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control > form > div.leaflet-control-layers-overlays > label:nth-child(2) > div > span::before {
    content: url('icons/circle-heat-svgrepo-com.svg');
  width: 20px;
  height: 20px;
}
*/

/*
#map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control > form > div.leaflet-control-layers-overlays > label:nth-child(2) > div > span:before {
  display: block;
  content: ' ';
  background-image: url('icons/circle-heat-svgrepo-com.svg');
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
}
*/

