



.about_modal {
  
  position: relative !important;
    background: #1C1C1C;
    /* height: calc(100vh - 300px) !important; */
    height: auto;
}

.modal-dialog {
    position: absolute;
left: 300px;
top: 10px;
z-index: 999999999999999;
width: 315px;
  
}


.modal-dialog > .modal-content > .modal-body {
  
  font-size: 19px;
  
}
  
  
.modal-lg {
  
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) !important;
}


.modal-content {
  
    background: #1C1C1C;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    height: 100%;
  
}


.modal-header {
  
  border-bottom: 0px;
}


.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px;
}

.modal-title {
  
font-family: 'Franklin Gothic Demi';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.25em;

/* Gray/500 */

color: #B1B5B9;
  
}

.modal-body {
  font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */


/* Body Text / Base Color */

color: #DEE0E3;
  
}


#shiny-modal > div > div