

.right_panel {
  position: absolute;
/* Gray/900 */
 background: #1C1C1C;
 box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.25);

 transition: width 0.3s;
}

#right_panel {
  
}

.right_panel.foo {
  width: 100px;
}

.right_panel_textbox {
position: relative;
/* Gray/900 */
 background: #1C1C1C;
 height: calc(100vh - 130px) !important;

  
}


.title_indicator_label {
/*
width: 79px;
height: 14px;
left: 32px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
/*font-family: 'Franklin Gothic Book';*/
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.17em;

/* Gray/500 */

color: #B1B5B9;
}

.title_indicator_label2 {
/* width: 169px; */
/* height: 16px; 
left: 32px;
top: 365px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
position: inherit;
/*font-family: 'Franklin Gothic Book';*/
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.25em;
text-transform: uppercase;

/* Gray/500 */

color: #B1B5B9;

}

.title_indicator {
  /*
width: 232px;
height: 54px;
left: 32px;
top: 127px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
position: relative;
/*font-family: 'Franklin Gothic Demi';*/
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 27px;

/* Gray/White */

color: #FFFFFF;

  
}

.text_indicator {
/*
width: 232px;
height: 112px;
left: 32px;
top: 205px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
position: relative;
/*font-family: 'Franklin Gothic Book';*/
font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Body Text / Base Color */

color: #DEE0E3;

  
  
}

.text_indicator2 {
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. */


/*width: 232px;
height: 64px;
left: 32px;
top: 397px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
position: relative;
/*font-family: 'Franklin Gothic Book';*/
font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Body Text / Base Color */

color: #DEE0E3;

}

.value_indicator_rightpanel {
  /*font-family: 'Franklin Gothic Demi';*/
font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 45px;
padding: 10px;

/* Gray / 300 */

color: #DEE2E6;
  
}


.text_compare {
  /*
width: 232px;
height: 54px;
left: 32px;
top: 127px;
*/
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
position: relative;
/*font-family: 'Franklin Gothic Demi';*/
font-family: 'Fira Sans', sans-serif;

font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 27px;

/* Gray/White */

color: #FFFFFF;
text-transform: none;



  
}


/* tabs */

.nav-tabs>li>a {
    margin-right: 2px;
    border: 0;
    border-radius: 0;
    
    font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.25em;

/* Gray/500 */

color: #B1B5B9;
}

.nav-tabs {
    border-bottom: 0;
    padding: 15px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      border: 0;

    outline: o;
    cursor: default;
    background-color: transparent;
    border: 0;
        border-bottom: 1px solid #00AE42;

font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.25em;

/* Main/Primary */

color: #00AE42;
}


.nav>li>a:hover, .nav>li>a:focus {
  font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.25em;

/* Gray/500 */

color: #B1B5B9;
background: rgba(0, 0, 0, 0.5);
  
  
}



.link_button {
  
  
padding: 10px;
position: relative;
font-family: 'Fira Sans', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

/* Body Text / Base Color */

color: #00AE42;
padding-left: 0px;
  
}

#link_see_more:hover, #link_see_more:active, #link_see_more:focus-visible {
  
  background: transparent;
  outline: 0;
  
  
}

    #right_panel_textbox_id, #right_panel_textbox_id_more {
      overflow-y: scroll;
          overflow-x: hidden;

      
    }
