

#modal_beta_close {
      background: #00AE42;
          border-radius: 4px;
    padding: 15px;
    border: 1px solid #495057;
    margin: auto;
}

#modal_beta_checkpoint1 > p {
  font-size: 16px;
  padding: 15px;
  
  
}

#modal_beta_checkpoint {
  
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) !important;
width: 700px;
  
  
}